:root {
  --main-color: #33415c;
  --text-color: white;
  --chat-width: 780px;
  --chat-img-size: 35px;
  --chat-padding: 20px 30px;
  --font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.main {
  flex: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 100px;
  margin-bottom: 0;
}

.chat {
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #888 #333;
  width: 100%;
  max-width: 800px;
  height: calc(100vh - 170px);
}

.message {
  margin: 10px;
  padding: var(--chat-padding);
  font-size: 12px;
  display: flex;
  align-items: flex-start;
  text-align: justify;
  border-radius: 5px;
}

.messageImg {
  object-fit: cover;
  width: var(--chat-img-size);
  margin-right: 20px;
  border-radius: 5px;
}

.bot {
  background: var(--main-color);
}

.chatFooter {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chatFooter > p {
  margin: 20px 0;
}

.inp {
  padding: 5px;
  background: var(--main-color);
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: var(--chat-width);
}

.inp > input {
  width: calc(100% - 30px);
  outline: none;
  padding: 12.5px;
  color: var(--text-color);
  background: transparent;
  border: none;
}

.inp > .send {
  background: transparent;
  border: none;
  opacity: 0.5;
}

.inp > .send.active {
  cursor: pointer;
  opacity: 1;
}

.inp > .send.active img {
  filter: invert(100%);
}
