.sideBar {
  flex: 2;
  border-right: 1px solid #5c677d;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.logo {
  width: 50px;
  margin: 10px;
}

.brand {
  font-size: 20px;
}

.upperSide {
  padding: 25px;
  border-bottom: 1px solid #5c677d;
  height: 70%;
}

.upperSideTop {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.addBtn {
  height: 20px;
  padding-right: 10px;
}

.midBtn {
  background: #0466c8;
  border: none;
  color: white;
  padding: 15px;
  font-size: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 5px;
}

.query {
  display: flex;
  align-items: center;
  background: transparent;
  color: rgba(222, 222, 222, 1);
  padding: 15px;
  width: 250px;
  margin: 10px auto;
  border-radius: 5px;
  border: 1px solid rgba(98, 98, 98, 1);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.query > img {
  margin-right: 20px;
  object-fit: cover;
  height: 17.5px;
}

.lowerSide {
  padding: 20px;
}

.listItems {
  margin: 7.5px;
  display: flex;
  align-items: center;
  font-size: 13px;
}

.listItemsImg {
  margin: 10px;
  padding-right: 10px;
}

.listItems:nth-child(1) > .listItemsImg {
  margin-right: 5px;
}

.listItems:nth-child(3) > .listItemsImg {
  margin-right: 7.5px;
}
